@import "~@/common/var.scss";

.eg-input {
    position: relative;
    display: inline-block;
    font-size: $base-font-size;
    $input-height: 2.5rem;
    &__inner {
        width: 11.25rem;
        height: $input-height;
        padding: 0 40px 0 16px;
        background-color: $base-background-color;
        box-sizing: border-box;
        border: 1px solid $base-border-color;
        border-radius: 4px;
        font-size: inherit;
        color: $font-color-major;
        -webkit-appearance: none;
        outline: none;
        &:hover {
            border-color: $primary-color;
        }
        &:focus {
            outline: none;
            border-color: $primary-color;
        }
        &::placeholder {
            font-size: 14px;
            color: $font-color-major;
        }
    }
    &__suffix {
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        line-height: $input-height;
        color: $font-color-major;
    }
}
