.eg-checkbox-button{
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 7.5rem;
  height: 2.5rem;
  color: $primary-color;
  background-color: white;
  border: 1px solid $primary-color;
  border-radius: $base-border-radius;
  cursor: pointer;
  user-select: none;
  font-size: 1rem;

  &:hover{}

  &.is-checked{
    border: none;
    background-color: $primary-color;
    color: $font-color-reverse;
  }

  &--long {
    width: 10rem;
  }

  &--short {
    width: 3.75rem;
  }
}
