
.eg-box{
  background-color: $base-background-color;
  .eg-box__header{
    padding: 1rem;
    .eg-box__header--left{
      float: left;
    }
    .eg-box__header--right{
      float: right;
    }
    &::after{
      display: table;
      clear: both;
      content: ''
    }
  }
}
